ul {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  list-style: none;
  list-style-type: disc;
  list-style-position: inside;
}

h2 {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 20px;
}

/* table formatting help from ChatGPT */

table {
  border-collapse: collapse;
  width: 95%;
  margin-left: 2.5vw;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  white-space: normal;
}

th,td {
border: 1px solid #ddd;
padding: 8px;
width: calc(100vw/20);
}