h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* table formatting help from ChatGPT */

table {
  border-collapse: collapse;
  width: 95%;
  margin-left: 2.5vw;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  white-space: normal;
}

th,td {
border: 1px solid #ddd;
padding: 8px;
width: calc(100vw/20);
}

#myChart {
  position: absolute;
  width:800px;
  height: 400px;
  top: 40vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  left: 0;
}