@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap'); 
/* formatting help taken from video: https://www.youtube.com/watch?v=52sKmRsk7xU */

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
}

html{
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.header{
  position: fixed;
  top:0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:1rem;
  height:80px;
}


.logo{
  height:30px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.storeName{
  display: inline-block;
  margin-right:0px;

}

.nav{
  margin:15px;
}

#about{
  margin-top:80px;
  position:relative;
  height:852px;
}

#aboutContent{
  position:relative;
  z-index: 1;  
}

#about p{
  margin-left:10px;
}

#family{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width:auto;
  height:100%;
  opacity: 0.7;
}

#merchandise{
  display:flex;
  height:600px;
  width:100%;
  align-items: center;
  justify-content:space-evenly;
  background-image: linear-gradient(to bottom, rgba(32,178,170,0.75), rgba(0,105,148,0.75));
}

#merch{
  padding-left: 10px;
  padding-top: 10px;
  height:50px;
  background-image: linear-gradient(to bottom, lightgreen, rgba(32,178,170,0.75));
  color:white;
}

#merchandise figure{
  height:400px;
  text-align:center;
}

#merchandise h3{
  font-size: larger;
  color:white;
}

figure img{
  height:300px;
}

figcaption{
  color:white;
  font-size: x-large;
}

#loc{
  padding-left: 10px;
  padding-top: 10px;
  height:50px;
  background-color: rgba(0,105,148,0.75);
  color:white;
}

#locations{
  display:flex;
  height:600px;
  width:100%;
  align-items:center;
  justify-content:space-evenly;
  background: linear-gradient(rgba(0,105,148,0.75), #1a1a2e);
}


#map{
  height:500px;
  width: 40%;
}

#stores{
  margin-left:20px;
}

div address{
  padding-left:5px;
  padding-right:5px;
  color:white
}

address:hover{
  border: 1px dashed black;
}

footer{
  display: flex;
  align-items: center;
  justify-content:space-between;
  z-index: 1000;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:1rem;
  height:150px;
}

#second-logo{
  height:50px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

}

#footer-img{
  height:100px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

}

/* Sales Page Formatting */
#sales-header{
  position: fixed;
  top:0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:1rem;
  height:80px;
}

#sales-header h1{
  font-size: xx-large;
}

#sales-header a{
  font-size: x-large;
}

#cookies {
  margin-top:90px;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 20px;
}

/* table formatting help from ChatGPT */
#city-table{
  height:400px;
  display:flex;
  width:100%;
}

#cities{
  border-collapse: collapse;
  width: 95%;
  margin-left: 2.5vw;
  height: 100%;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  white-space: normal;
}

th,td {
border: 1px solid #ddd;
padding: 8px;
width: calc(100vw/20);
}

#chart{
  height:600px;
  display: flex;
  justify-content: center;
}

#myChart {

  width:auto;
  height: 550px;
  top: 40vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  left: 0;
}

#overlay{
  position: fixed;
  top: 100px;
  left:0;
  width: 100%;
  height:200px;
  display: flex;
  justify-content:center;
  align-items:center;
}

#myForm{
  background-color: #fff;
  padding: 20px;
  border-radius:5px;
}

input[type="text"] {
  border: 1px solid #ccc;
  width:300px;
  margin-left: 30px;
  
}